<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Employees</title>
  <link rel="stylesheet" href="\Employee\manager\add Employees\style.css">
  <!-- add Employees -->
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
</head>

<body>
<!-- Dashboard -->
<div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Vertical Navbar -->
    <nav class="navbar show navbar-vertical h-lg-screen navbar-expand-lg px-0 py-3 navbar-light bg-white border-bottom border-bottom-lg-0 border-end-lg" id="navbarVertical">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler ms-n2" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarCollapse" aria-controls="sidebarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- username -->
            <a class="navbar-brand py-lg-2 mb-lg-5 px-lg-6 me-0" href="#">
                <h3 class="text-success"><img src="https://bytewebster.com/img/logo.png" width="40"><span class="text-info">Neranjan</span></h3> 
            </a>
            <!-- User menu (mobile) -->
            <div class="navbar-user d-lg-none">
                <!-- Dropdown -->
                <div class="dropdown">
                    <!-- Toggle -->
                    <a href="#" id="sidebarAvatar" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="avatar-parent-child">
                            <img alt="Image Placeholder" src="https://images.unsplash.com/photo-1548142813-c348350df52b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" class="avatar avatar- rounded-circle">
                            <span class="avatar-child avatar-badge bg-success"></span>
                        </div>
                    </a>

                </div>
            </div>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidebarCollapse">
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="bi bi-house"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <form action="/employee-dashboard/workingEmployees" method="get" id="workingEmployees"></form>
                        <a class="nav-link pages" onclick="document.getElementById('workingEmployees').submit()">
                            <i class="bi bi-people-fill"></i> Working Employees
                        </a>
                    </li>
                    <li class="nav-item">
                        <form action="/employee-dashboard/addemployees" method="get" id="addemployees"></form>
                        <a class="nav-link pages" onclick="document.getElementById('addemployees').submit()">
                            <i class="bi bi-people-fill"></i> Add Employees
                        </a>
                    </li>
                    <li class nav-item>
                        <form action="/employee-dashboard/bankwise_transections" method="get" id="bankwise_transections"></form>
                        <a class="nav-link pages" onclick="document.getElementById('bankwise_transections').submit()">
                            <i class="bi bi-people-fill"></i> Transactions
                        </a>
                    </li>
                    <li class="nav-item">
                        <form action="/employee-dashboard/late_loan_installment" method="get" id="late_loan_installment"></form>
                        <a class="nav-link pages" onclick="document.getElementById('late_loan_installment').submit()">
                            <i class="bi bi-people-fill"></i> Late Loans
                        </a>
                    </li>
                    <li class="nav-item">
                        <form action="/employee-dashboard/loan_request" method="get" id="loan_request"></form>
                        <a class="nav-link pages" onclick="document.getElementById('loan_request').submit()">
                            <i class="bi bi-people-fill"></i> Loan Approvals
                        </a>
                    </li>
                </ul>

                <!-- Push content down -->
                <div class="mt-auto"></div>
                <!-- User (md) -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link page" href="#">
                            <i class="bi bi-person-square"></i> {{user}}
                        </a>
                    </li>
                    <li class="nav-item pages">
                        <form action="/employee-dashboard/logout" method="get" id="logout"></form>
                        <a class="nav-link" onclick="document.getElementById('logout').submit();">
                            <i class="bi bi-box-arrow-left"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="h-screen flex-grow-1 overflow-y-lg-auto">
        <!-- Header -->
        <header class="bg-surface-primary border-bottom pt-6">
            <div class="container-fluid">
                <div class="mb-npx">
                    <div class="row align-items-center">
                        <div class="col-sm-6 col-12 mb-4 mb-sm-0">
                            <!-- Title -->
                            <h1 class="h2 mb-0 ls-tight">
                                <img src="\Employee\manager\logo.png" width="40"> Digital Banking With DPRJ Bank </h1>
                        </div>
                    </div>
                    <!-- Nav -->
                </div>
            </div>
        </header>
        <!-- Main -->
    <main class="py-6 bg-surface-secondary">
        <div class="container-fluid">
        <div class="wrapper">
            <div class="payment">
              <div class="payment-logo">
                <p>U</p>
              </div>
              
              
              <h2>Add Users</h2>
              <form class="form" action="/employee-dashboard/addemployees" method="post">
                <div class="card space icon-relative">
                  <label class="label">Branch ID</label>
                  <input type="text" class="input" placeholder="Branch ID" name="branchID">
                 
                </div>
                <div class="card space icon-relative">
                    <label class="label">First Name</label>
                    <input type="text" class="input" placeholder="First Name" name="fname">
                   
                  </div>
                  <div class="card space icon-relative">
                    <label class="label">Last Name</label>
                    <input type="text" class="input"  placeholder="Last Name" name="lname">
                  </div>
                <div class="card space icon-relative">
                  <label class="label">User Name</label>
                  <input type="text" class="input"  placeholder="User Name" name="username">
                </div>
                <div class="card space icon-relative">
                    <label class="label">Password</label>
                    <input type="password" class="input"  placeholder="Password" name="password">
                   
                </div>
                <div class="form">
                  <div class="card space icon-relative">
                    <label class="label">NIC</label>
                    <input type="text" class="input" placeholder="NIC Number" name="NIC">
                  </div>
                  <div class="card space icon-relative">
                    <label class="label">Contact No</label>
                    <input type="text" class="input"  placeholder="Phone Number" name="contactNo">
                  </div>
                  <div class="card space icon-relative">
                      <label class="label">Email</label>
                      <input type="text" class="input"  placeholder="Email" name="email"> 
                  </div>
                  <div class="custom-select">
                    <label for="gender">Gender   </label>
                    <select name="gender" id="loanType">
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <div class="btn">
                    <button type="submit" >
                        Confirm 
                    </button>
                </div>
                <div>
                    {{#eq message "success"}}
                            <h6 class="alert alert-success mt-4">Successfully Added Employee</h6>
                    {{else}}
                            {{#eq message "fail"}}
                                <h6 class="alert alert-danger mt-4"> Failed </h6>
                            {{/eq}}
                    {{/eq}}
                </div> 
                
            </form>
            </div>
          </div>
    </div>
    </main>
</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  <script src="script.js"></script>
</body>
</html>
