
@import url(https://unpkg.com/@webpixels/css@1.1.5/dist/index.css);

/* Bootstrap Icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");



.bg-surface-secondary {
    background-color: #3e505e !important;
}
.ls-tight{
    padding-bottom: 20px;
    color: blue;
}
.bg-surface-primary{
    background-color: rgb(26, 33, 41) !important
}

.navbar [class^=container] {
    position: relative;
    background-color:rgb(26, 33, 41);
}
.navbar-light .navbar-nav .nav-link {
    color: blue;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: blue;
}

.navbar-vertical.navbar-light {
    background-color: gray;
    border-color: black;
}


.card-header {
    background-color:rgb(112 175 255);
}
tbody{
    background-color: #cde8ff;

}
.card{
    border-radius: 17px;
    box-shadow: 0px 4px 6px -0.1px #060809;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
    color: #525f7f;
    background-color: lightsteelblue;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
}

.text-muted {
    --x-text-opacity: 1;
    color: black !important;
}
.table .thead-light th {
    background-color: #f5f9fc;
    color: black;
}
.py-3 {
    padding-top: 0.0rem !important;
    padding-bottom: 0.0rem !important;
    
}
.px-0 {
    padding-right: 1px !important;
    padding-left: 0 !important;

}
@media (min-width: 992px){
    .navbar-vertical.navbar-expand-lg.show {
        max-width: 205px;
        border-radius: 0;
    }
}



/* loan cards */
#title-section2{
    color: black;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .saving-images{
    height: 100%;
  }
  
  
  
  .button-more{
    margin-right: 20px;
  
  }
  
  .button-apply{
    margin-right: 20px;
  }
  .card-title{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
  
  }
  
  .card-body-2{
    padding-left: 30px;
    padding-top: 30px;
  }